<?xml version='1.0' encoding='utf-8'?>
<widget id="de.hirschbergsauerland.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Hirschberg</name>
    <description>
        Kuiern 2.0 in und über Hirschberg - natürlich im Sauerland
    </description>
    <author email="dev@hirschberg.sauerland.de" href="http://www.hischberg-sauerland.de">
        Tobias Bräutigam
    </author>
    <content src="build-output/index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="ws://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <resource-file src="google-services.json" target="app/google-services.json" />
    </platform>
    <platform name="ios">
        <resource-file src="GoogleService-Info.plist" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="phonegap-plugin-push" spec="^2.1.3">
        <variable name="FCM_VERSION" value="11.6.2" />
    </plugin>
    <engine name="android" spec="7.0.0" />
</widget>
